<% if @post.errors.any? %>
	<div class="alert alert-danger">
		<% @post.errors.each do |key, value| %>
			<%= key %> <%= value %>
		<% end %>
	</div>
<% end %>

<%= simple_form_for @post do |f| %>
	<div>
	  <%= f.input :name, placeholder: "What's your name?" %>
	</div>
	<div>
	  <%= f.input :content, placeholder: "What's your stuff?" %>
	 </div>

	  <%= f.submit "Create", class: 'btn btn-success' %>
<% end %>